header {
    display: flex;
    height: 7vh;
    width: 100%;
    padding-left: 0.875rem;
    justify-content: space-between;
    align-items: center;
}

p,
a {
    color: #1B3B08;
    font-family: "Inter", sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.leftHeader {
    display: flex;
    align-items: center;
    gap: 8%;
}

.leftHeader a {
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.leftHeader a:hover, #logout:hover {
    border-radius: 0.9375rem;
    background: #E0E5D7;
}

.logo:hover{
    background: white;
}

/* div */
.rightHeader {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
}

.rightHeader a {
    display: flex;
    width: 5.5rem;
    height: 2.7rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-weight: 700;
    border: 3px solid #80A861;
    color: #80A861;
}

#login {
    background-color: white;
    border-radius: 0.5rem;
}

#login:hover {
    background-color: #E0E5D7;
}

#signup {
    border-radius: 0.5rem;
    background: #80A861;
    color: white;
}

#signup:hover {
    background: #678c4c;
    border-color: #678c4c;
}

#logout {
    border: none;
    display: none;
}