html, body {
    width: 100%;
    height: 100vh;
}

main {
    height: 93vh;
    display: grid;
    grid-template-columns: auto 30vw;
    grid-template-rows: auto 10vh;
}

#map {
    grid-row: 1 / span 2;
}

#sidebar {
    overflow-y: scroll;
}

.sessionCard {
    background-color: #AAA;
    display: grid;
    grid-template-columns: 5vw auto auto;
    grid-template-rows: auto auto;
}

.sessionCard:hover {
    background-color: #999;
}

.sessionCardActive {
    background-color: #8A8;
}

.sessionCardActive:hover {
    background-color: #797;
}

.cardTraffic {
    grid-row: 1 / span 2;
}

.trafficRed, .trafficYellow, .trafficGreen {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
}
.trafficRed {
    background-color: red;
}
.trafficYellow {
    background-color: yellow;
}
.trafficGreen {
    background-color: green;
}

.sessionSubject {

}

.sessionTime {
    grid-column: 3 / 3;
    grid-row: 1 / span 2;
    text-align: right;
}

.sessionUser {

}

#sidebarInit {

}

#sidebarCards {
    display: none;
}

#sidebarInfo {
    display: none;
}

#sidebarCreateSession {
    background-color: #DDD;
}

#sidebarCreateSession button {
    
}

#sessionMod {
}

a.button {
    padding: 1px 6px;
    border-radius: 3px;
    color: black;
    background-color: grey;
    text-decoration: none;
}

a.button:hover {
    background-color: darkgrey;
}
