html, body {
    width: 100%;
    height: 100vh;
}

main {
    height: 93vh;
    display: grid;
    grid-template-columns: auto 30vw;
    grid-template-rows: auto 10vh;
}

#map {
    grid-row: 1 / span 2;
}

#sidebar {
    overflow-y: scroll;
    font-family: "Inter", sans-serif;
}

.sessionCard {
    display: grid;
    grid-template-columns: 5vw auto auto;
    grid-template-rows: auto auto;
    width: 80%;
    margin: 0 auto;
    border-radius: 1.5625rem;
    background: #FFF;
    text-align: center;
    padding: 0.5rem;
}

.sessionCard:hover {
    background-color: #999;
}

.sessionCardActive {
    background-color: #8A8;
}

.sessionCardActive:hover {
    background-color: #797;
}

.cardTraffic {
    grid-row: 1 / span 2;
}

.trafficRed, .trafficYellow, .trafficGreen {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
}
.trafficRed {
    background-color: red;
}
.trafficYellow {
    background-color: yellow;
}
.trafficGreen {
    background-color: green;
}

.sessionSubject {
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:auto;
}

.sessionTime {
    grid-column: 3 / 3;
    grid-row: 1 / span 2;
    text-align: right;

    margin: auto 0;

    color: #1B3B08;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sessionUser {
    font-size: 1rem;
}

#sidebarInit {
    height: 100%;
    color: #80A861;
    vertical-align: middle;
    margin: auto auto;
    text-align: center;
}

#sidebarCards {
    display: none;
}

#sidebarInfo {
    color: #80A861;
    display: none;
    text-align: center;
}

#sidebarInfo * {
    margin: 1rem 0;
}

#sidebarCreateSession {
    background-color: #DDD;
}

#sidebarCreateSession a {
    display: block;
    text-align: center;
    padding: 1rem 0;
    border-radius: 0.625rem;
    background: #80A861;
    border: 0px solid#80A861;
    width: 70%;
    margin: auto;
    color: #FFF;
    font-size: 1.25rem;
}

#sessionMod {
    display: block;
    text-align: center;
    padding: 1rem 0;
    border-radius: 0.625rem;
    background: #80A861;
    border: 0px solid#80A861;
    width: 70%;
    margin: auto;
    color: #FFF;
    font-size: 1.25rem;
}

a.button {
    padding: 1px 6px;
    border-radius: 3px;
    color: black;
    background-color: grey;
    text-decoration: none;
}

a.button:hover {
    background-color: darkgrey;
}
