html{
    display: flex;
padding: 130px 473px;
justify-content: center;
align-items: center;

display: flex;
/* width: 1440px;
height: 1024px; */
padding: 130px 473px;
justify-content: center;
align-items: center;
}

h1{
    /* width: 479px;
height: 85px; */
flex-shrink: 0;

color: #1B3B08;
text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

p{
    color: #80A861;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

