
html{
display: flex;
/* padding: 224px 357px 316px 356px; */
justify-content: center;
align-items: center;
}

h1{
/* width: 727px;
height: 201px; */
flex-shrink: 0;

color: #1B3B08;
text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 96px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

p:not(#or){
    color: #80A861;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#loginForm label{
    display: flex;
/* width: 388px; */
flex-direction: column;
align-items: flex-start;
gap: var(--sds-size-space-200);

flex: 1 0 0;
color: var(--sds-color-text-default-tertiary);

/* Single Line/Body Base */
font-family: var(--sds-typography-body-font-family);
font-size: var(--sds-typography-body-size-medium);
font-style: normal;
font-weight: var(--sds-typography-body-font-weight-regular);
line-height: 100%; /* 16px */

flex-shrink: 0;
}

#password{
    display: flex;
width: 388px;
flex-direction: column;
align-items: flex-start;
gap: var(--sds-size-space-200);
}
#username {
    width: 388px;
}

button{
    display: flex;
width: 391px;
height: 34px;
padding: var(--sds-size-space-300);
justify-content: center;
align-items: center;
gap: var(--sds-size-space-200);
flex-shrink: 0;
}

h3 {
    color: #000;

    /* Single Line/Body Base */
    /* font-family: var(--sds-typography-body-font-family);
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 100%; 16px */

}





